<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/LP.css') }}"> 
  <title>Search Results</title>
</head>


<body>
   <div>
       <legend>
           Search Results for 
       </legend>
   </div>

   <div>
       <img src='https://images.unsplash.com/photo-1547407139-3c921a66005c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aHVza3l8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60' 
       alt="Husky" 
       width = "500"
       height = "500"
       >
   </div>
  

    <br>
    <br> 
    <br> 
    <div class="btn-group">
        <button class="btn-search" type="submit">Download</button>

        <button class="btn-search" type="submit">Sepia</button>
    
        <button class="btn-search" type="submit">Gamma</button>
    
        <button class="btn-search" type="submit">Negative</button>
    
        <button class="btn-search" type="submit">Gray Scale</button>

        <button class="btn-search" type="submit">return</button>
      </div>


  
</body>

</html>