<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/LP.css') }}"> 
  <title>Search Results</title>
</head>


<body>
   <div>
       <h1>
           Search Results for {{searchTerm}} 
       </h1>
   </div>

   <div>
       <img src={{displayImage}} 
       alt="Husky" 
       width = "500"
       height = "500"
       >
   </div>
  

    <br>
    <br> 
    <br> 
    <div class="btn-group">

        <form method = "POST">
            <button class="btn-search" type="submit">Sepia</button>
        </form>
    
        <form>
            <button class="btn-search" type="submit">Gamma</button>
        </form>
    
        <form>
            <button class="btn-search" type="submit">Negative</button>
        </form> 
 
        <form>
            <button class="btn-search" type="submit">Gray Scale</button>
        </form>

      </div>

    <div class="btn-group">

        <form>
            <button class="btn-search" type="submit">Download</button>
        </form>

        <form>
            <button class="btn-search" type="submit">next</button>
        </form>
    
        <form>
            <button class="btn-search" type="submit">back</button>
        </form>

        <form>
            <button class="btn-search" type="submit">return</button>
        </form>

      </div>

    


  
</body>

</html>