<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/LP.css') }}"> 
  <title>Search Results</title>
</head>


<body>
   <div>
       <h1>
           Search Results for {{searchTerm}} 
       </h1>
   </div>

   <div>
       <img src={{displayImage}} 
       alt="Husky" 
       width = "500"
       height = "500"
       >
   </div>
  

    <br>
    <br> 
    <br> 
    <div class="btn-group">

        <form method = 'POST' >
            <button name='btn' class="btn-search" type="submit" value = 'Sepia'>Sepia</button>
       
            <button name='btn' class="btn-search" type="submit" value='Gamma'>Gamma</button>
        
            <button name='btn' class="btn-search" type="submit" value='Negative'>Negative</button>
        
            <button name='btn' class="btn-search" type="submit" value='Gray'>Gray Scale</button>
        </form>

      </div>

    <div class="btn-group">

        <form method = 'POST'>
            <button name='btn' class="btn-search" type="submit">Download</button>
            
            <button name='btn' class="btn-search" type="submit" value='back'>back</button>
            
            <button name='btn' class="btn-search" type="submit" value='next'>next</button>
       
            <button name='btn' class="btn-search" type="submit" value='return'>return</button>
        </form>

      </div>

    


  
</body>

</html>